<div class="row m-3 pt-3">
    <div class="col-7">
        <form [formGroup]="form" (ngSubmit)="salvar()">
            <div class="form-group">
                <label for="nome" class="form-label">Nome do Produto</label>
                <input type="text" name="nome" id="nome" class="form-control" formControlName="nome" autocomplete="off">
            </div><br>
            <div class="form-group">
                <label for="descricao" class="form-label">Descrição do Produto</label>
                <input type="text" name="descricao" id="descricao" class="form-control" formControlName="descricao" autocomplete="off">
            </div><br>
            <div class="form-group">
                <label for="preco" class="form-label">Preço do Produto</label>
                <input type="number" name="preco" id="preco" class="form-control" formControlName="preco" step="0.01" min="0.01" autocomplete="off">
            </div><br>
            <input type="submit" name="salvar" id="salvar" class="btn btn-primary" value="Salvar">
        </form>
    </div>
</div>
